# env file
.env 

# cache
__pycache__
.vscode

# testfiles
test.py
test.ipynb

# editable package dev-mode
*.egg-info


# example data files
*.tif
gbif_example

#build folder
build/

# _build from docs
_build
